/*@font-face{
  font-family: "Noto IKEA Latin";
  src:url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-400.latin.63019780.woff2) format("woff2");
}

@font-face {
  font-family: "Noto IKEA";
  src: url(https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-700.latin.63019780.woff2) format("woff2");
  font-weight: bold;
}*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  font-family: "Roboto";
}

body{
  margin:0;
  height:100vh;
}

.container{
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  display: grid;
  grid: 78px auto 80px/100%;
  background-color: beige;
}

header {
  background-color:black;
}

.inner-container{
  margin: 15px 15px 15px 15px; 
  padding: 0 0px 0 0px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.ikea-icon { /*placed in the header*/
  width: 7.25em;
  height: 3em;
  display:flex;
  align-items:center;
}

.text-heading1{
  color:white;
  font-family: "Roboto";
  font-size:1.7em;
  align-items:center;
  font-weight: bold;
}

main{
  background-color: white;
  display: grid;
}

footer{
    display:flex;
    background-color: BLACK;
    text-align: center;
    align-items: center;
    justify-content: center;
    COLOR:WHITE;
}

p{
  font-size:0.8em;
}

h1{
  color:black;
  font-family: "Roboto";
  font-size:1.7em;
}

h2{
  color: blue;
}

input[type=submit]{
  background-color: black;
  color:white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

table{
  display:grid;
  text-align: right;
 /* align-items: center;*/
  justify-content: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
